*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
}
.container{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px hsl(214, 17%, 51%);;
    width: 60%;
    max-width: 800px;
    min-height: 300px;
    height: 25vh;
    max-height: 500px;
    display: flex;
    background-color: white;
    /* overflow: hidden; */
}

.main-image{
    /* border: 1px solid black; */
    width: 40%;
    height: 100%;
}
.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text-content{
    width: 60%;
    height: 100%;
    /* border: 5px solid red; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inner{
    width: 95%;
    height: 95%;
    /* border: 2px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.user{
    /* border: 1px solid green; */
}

.user{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* border: 2px solid black; */
}
.mobile-wrapper{
    position: absolute;
}
.avtar-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    /* border: 2px solid red; */
    height: 100%;
    min-width: 140px;
}
.avtar-name p{
    color: var(--desaturated-dark-blue);
}
.avtar-img{
height: 100%;
border-radius: 50%;
overflow:  hidden;

}
.avtar-img img{
    height: 100%;
    
}

.avtar-name h5{
    font-size: 0.9rem;
    font-weight: bold;
}
.avtar-name p{
    font-size: 0.9rem;
    word-spacing: 5px;
}

.share-cont{
    border-radius: 50%;
    background-color: white;
    padding: 7px;
    cursor: pointer;
    background-color: var(--very-dark-grayish-blue);
    
}



.wrap{
   
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 300px;
    gap: 10px;
    padding: 0.7em 0.7em;
    position: absolute;
    bottom: 5em;
    right: -7.4em;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
    

}
.wrap:hover{
    cursor: pointer;
}
.wrap-arrow{
    width: 13px;
  height: 13px;
  
  transform: rotate(135deg);
    position: absolute;
    bottom: -7px;
   background-color: var(--very-dark-grayish-blue);
}
.wrap p{
    letter-spacing: 6px;
    color: white;
}

.hide{
    display: none;
}

/* Mobile devices */
@media (max-width: 767px) {
  .container {
    width: 95%;
    flex-direction: column;
    height: auto;
    max-height: 100vh;
  }
  .main-image{
    width: 100%;
  }

  .text-content{
    width: 100%;
  }
  .inner{
    width: 85%;
    margin-top: 1.5em;
    align-items: center;
  }
  .inner h1{
    font-size: 1.3rem;
    margin-bottom: .8em;
  }
  .user{
    
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .avtar-cont{
    width: 60%;
    border: 2px solid balck;
  }
  .avtar-name h5{
    margin-bottom: 0.3em;
  }

  
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    html{
        font-size: 12px;
    }
    .container{
        width: 80%;

    }
    .inner h1{
        font-size: 2.3rem;
    }
    .inner p{
        font-size: 1.5rem;
    }
  .avtar-cont{
    width: 45%;
  }
  .avtar-name p{
    font-size: 1.2rem;
  }
  .avtar-name h5{
    font-size: 1.2rem;
  }
  .wrap{
    right: -8em;
    bottom: 7em;
    padding: 1em;
  }
}